{% extends("base.html.twig")%}
{% block body %}
    <style>
        .nav-image {
            background: url("{{ asset('images/navbar.jpg') }}");
            background-size: cover;
        }

    </style>

    {#    mobile nav#}
    <nav class="navbar navbar-expand-md bg-dark navbar-dark d-lg-none d-xl-none">
        <!-- Brand -->
        <a class="navbar-brand" href="{{ path("main-page")}}">Home</a>

        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navbar links -->
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a id="cv" class="nav-link js-scroll-trigger text-white" href="{{ path("resume") }}">Resume</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger text-white" href="{{ path("comments") }}">Comments</a>
                </li>
            </ul>
            <ul class="nav navbar-nav ml-auto mr-5 mt-3">
                {% if app.user %}
                    <li class="nav-item px-2">
                        <a id="logout" class="nav-link js-scroll-trigger text-white" href="{{ path('logout') }}" >Logout</a>
                    </li>
                    <li class="nav-item px-2">
                        <span class="nav-link js-scroll-trigger text-white">Logged as {{ user.usernick }}</span>
                    </li>
                {% else %}
                    <li id="login-nav-mob" class="nav-item px-2">
                        <span class="nav-link js-scroll-trigger text-white">Login</span>
                        {% if error %}
                            <div id="error-mesage" class="text-white">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}
                    </li>
                    <li>
                        <form class="login-form position-fixed display-none" action="{{ path('main-page') }}" method="POST">
                            <input class="login-usernick" type="text" name="_username" value="{{ lastUsername }}" placeholder="Usernick">
                            <input class="login-password" type="password" name="_password" placeholder="Password">
                            <button class="login-submit" type="submit">Login</button>
                        </form>
                    </li>
                    <li id="sign-up-style" class="nav-item px-2">
                        <a id="register" class="nav-link js-scroll-trigger text-white " href="{{ path('register') }}">Sign Up</a>
                    </li>

                {% endif %}

            </ul>
        </div>
    </nav>

    {#    desktop nav#}
    <nav id="navbar" class="navbar fixed-top navbar-expand-sm navbar-light d-none d-lg-block d-xl-block nav-image">
        <div class="navbar-collapse" id="navbarNavAltMarkup">
            <ul id="nav-first-ul" class="navbar-nav ml-5 mt-3">
                <li id="home-link" class="nav-item px-3">
                    <a id="home" class="nav-link js-scroll-trigger text-white " href="{{ path("main-page") }}">Home</a>
                </li>
                <li class="nav-item px-2">
                    <a id="cv" class="nav-link js-scroll-trigger text-white" href="{{ path("resume") }}">Resume</a>
                </li>
                <li class="nav-item px-2">
                    <a class="nav-link js-scroll-trigger text-white" href="{{ path("comments") }}">Comments</a>
                </li>
            </ul>
            <ul class="nav navbar-nav ml-auto mr-5 mt-3">
                {% if app.user %}
                    <li class="nav-item px-2">
                        <a id="logout" class="nav-link js-scroll-trigger text-white" href="{{ path('logout') }}" >Logout</a>
                    </li>
                    <li class="nav-item px-2">
                        <span class="nav-link js-scroll-trigger text-white">Logged as {{ user.usernick }}</span>
                    </li>
                {% else %}
                    <li id="login-desk" class="nav-item px-2">
                        <span class="nav-link js-scroll-trigger text-white">Login</span>
                        {% if error %}
                            <div id="error-mesage" class="text-white">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}

                    </li>
                    <li>
                        <form class="login-form position-fixed display-none" action="{{ path('main-page') }}" method="POST">
                            <input class="login-usernick" type="text" name="_username" value="{{ lastUsername }}" placeholder="Usernick">
                            <input class="login-password" type="password" name="_password" placeholder="Password">
                            <button class="login-submit" type="submit">Login</button>
                        </form>
                    </li>
                    <li id="sign-up-style" class="nav-item px-2">
                        <a id="register" class="nav-link js-scroll-trigger text-white nav-uderscore" href="{{ path('register') }}">Sign Up</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <div class="register-form-container">
        <div class="container text-center">
            <div class="wrapper">
                <div class="uderline-section"></div>
                <h1 class="text-uppercase font-weight-bold">Register For An Account</h1>
                <p class="text-uppercase mt-4 mb-4">To sign-up for a free basic account please provide us with some basic information
                    {{ form_start(registerForm) }}
                    {{ form_row(registerForm.user_nick) }}
                    {{ form_row(registerForm.plainPassword.first) }}
                    {{ form_row(registerForm.plainPassword.second) }}
                    {{ form_row(registerForm.submit, {'attr': {'class': 'custom-button bordo-background text-white'}}) }}
                    {{ form_end(registerForm) }}
            </div>

        </div>

    </div>
{% endblock %}
 {% block javascripts %}
     <script src="https://code.jquery.com/jquery-3.4.1.js"></script>

     <script>
         // login animation
         $( "#login-nav-mob" ).click(function() {
             if ($(".login-form").hasClass("display-none")){
                 $(".login-form").slideDown("slow").removeClass("display-none").css("display", "grid");
             } else {
                 $(".login-form").slideUp("slow").addClass("display-none");
             }
         });

         $( "#login-desk" ).click(function() {
             if ($(".login-form").hasClass("display-none")){
                 $(".login-form").slideDown("slow").removeClass("display-none").css("display", "grid");
             } else {
                 $(".login-form").slideUp("slow").addClass("display-none");
             }
         });

         $(document).mouseup(function(e)
         {
             var loginForm = $(".login-form");
             if (!loginForm.is(e.target) && loginForm.has(e.target).length === 0)
             {
                 loginForm.slideUp().addClass("display-none");
             }
         });
     </script>
 {% endblock %}

