{% extends("base.html.twig")%}
{% block body %}
    <style>
        .nav-image {
            background: url("{{ asset('images/navbar.jpg') }}");
            background-size: cover;
        }

    </style>


    <nav id="navbar" class="navbar fixed-top navbar-expand-sm navbar-light nav-image">
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <ul class="navbar-nav ml-5 mt-3">
                <li class="nav-item px-3">
                    <a id="home-page-link" class="nav-link js-scroll-trigger text-white" href="{{ path("main-page")}}">Home</a>
                </li>
                <li class="nav-item px-2">
                    <a class="nav-link js-scroll-trigger text-white" href="{{ path("resume") }}">Resume</a>
                </li>
                <li class="nav-item px-2">
                    <a class="nav-link js-scroll-trigger text-white" href="{{ path("comments") }}">Comments</a>
                </li>
            </ul>
            <ul class="nav navbar-nav ml-auto mr-5 mt-3">
                {% if app.user %}
                    <li class="nav-item px-2">
                        <a class="nav-link js-scroll-trigger text-white" href="{{ path('logout') }}" id="logout">Logout</a>
                    </li>
                    <li class="nav-item px-2">
                        <span class="nav-link js-scroll-trigger text-white">Logged as {{ user.usernick }}</span>
                    </li>
                {% else %}
                    <li class="nav-item position-relative px-2">
                        <span class="nav-link js-scroll-trigger text-white" id="login">Login</span>
                        {% if error %}
                            <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}
                        <form class="login-form position-fixed display-none" action="{{ path('main-page') }}" method="POST">
                            <input id="login-usernick" type="text" name="_username" value="{{ lastUsername }}" placeholder="Email">
                            <input id="login-password" type="password" name="_password" placeholder="Password">
                            <button id="login-submit" type="submit">Login</button>
                        </form>
                    </li>
                    <li class="nav-item px-2">
                        <a class="nav-link js-scroll-trigger text-white nav-uderscore" href="{{ path('register') }}">Sign Up</a>
                    </li>

                {% endif %}

            </ul>
        </div>
        </div>
    </nav>
    <div class="register-form-container">
        <div class="container text-center">
            <div class="wrapper">
                <div class="uderline-section"></div>
                <h1 class="text-uppercase font-weight-bold">Register For An Account</h1>
                <p class="text-uppercase mt-4 mb-4">To sign-up for a free basic account please provide us with some basic information
                    {{ form_start(registerForm) }}
                    {{ form_row(registerForm.user_nick) }}
                    {{ form_row(registerForm.plainPassword.first) }}
                    {{ form_row(registerForm.plainPassword.second) }}
                    {{ form_row(registerForm.submit, {'attr': {'class': 'custom-button bordo-background text-white'}}) }}
                    {{ form_end(registerForm) }}
            </div>

        </div>

    </div>
{% endblock %}
 {% block javascripts %}
     <script src="https://code.jquery.com/jquery-3.4.1.js"></script>

     <script>

         $( "#sign-up" ).click(function() {
             if ($("#register-popup").hasClass("display-none")){
                 $(".login-form").fadeOut("slow").addClass("display-none");
                 $("#register-popup").slideDown("slow").removeClass("display-none").css("display", "block");
             } else {
                 $("#register-popup").slideUp("slow").addClass("display-none");
             }
         });

         $( "#login" ).click(function() {
             if ($(".login-form").hasClass("display-none")){
                 $("#register-popup").fadeOut("slow").addClass("display-none");
                 $(".login-form").slideDown("slow").removeClass("display-none").css("display", "grid");
             } else {
                 $(".login-form").slideUp("slow").addClass("display-none");
             }
         });

     </script>
{% endblock %}