{% extends("base.html.twig")%}
{% block body %}
    <style>
        {#.main-page-image {#}
        {#    background: url("{{ asset('images/top-page-image.jpg') }}");#}
        {#    background-size: cover;#}
        {#    /*transform: skewY(-7deg);*/#}
        {#    height: 100vh;#}
        {#}#}
    </style>

    <nav id="navbar" class="navbar fixed-top navbar-expand-lg navbar-light register-navbar">
        <a id="logo" class="navbar-brand text-white" href="{{ path('main-page') }}">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>
    <div class="register-form-container">
        <div class="container text-center">
            <div class="wrapper">
                <div class="uderline-section"></div>
                <h1 class="text-uppercase font-weight-bold">Register For An Account</h1>
                <p class="text-uppercase mt-4 mb-4">To sign-up for a free basic account please provide us with some basic information using
                    {{ form_start(registerForm) }}
                    {{ form_row(registerForm.user_nick) }}
                    {{ form_row(registerForm.plainPassword.first) }}
                    {{ form_row(registerForm.plainPassword.second) }}
                    {{ form_row(registerForm.submit, {'attr': {'class': 'custom-button bordo-background text-white'}}) }}
                    {{ form_end(registerForm) }}
            </div>

        </div>

    </div>
{% endblock %}
 {% block javascripts %}
     <script src="https://code.jquery.com/jquery-3.4.1.js"></script>

     <script>

        window.onscroll = function() {scrollFunction()};

        function scrollFunction() {
            if (document.body.scrollTop > 80 || document.documentElement.scrollTop > 80) {
                document.getElementById("navbar").style.background = "rgba(0, 0, 0, 0.1)";
                document.getElementById("navbar").style.padding = "3px";
                document.getElementById("logo").style.fontSize = "25px";
            } else {
                document.getElementById("navbar").style.background = "none";
                document.getElementById("navbar").style.padding = "10px";
                document.getElementById("logo").style.fontSize = "40px";
                document.getElementById("logo").style.transition = ".4s";
            }
        }


     </script>
{% endblock %}