{% extends "base.html.twig" %}
{% block body %}

    <nav id="navbar" class="navbar fixed-top navbar-expand-lg navbar-light">
        <a id="logo" class="navbar-brand" href="{{ path('main-page') }}">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>
    <div class="container " style="margin-top: 200px">
        {% if app.user  %}
            {{ form_start(form) }}
            {{ form_row(form.comment) }}
            {{ form_row(form.submit, {'attr': {'class': 'w-25'}}) }}
            {{ form_end(form) }}
        {% endif %}

        {% for comment in comments %}
            <div class="media border p-3 m-1">
                <div class="media-body">
                    <h4>{{ comment.user.usernick }} <small><i>Posted on {{ comment.date|date("Y-m-d")  }}</i></small></h4>
                    <p>{{ comment.comment }}</p>
                </div>
                {% if is_granted('edit', comment)%}
                <div class="display-grid">
                    <a href="{{ path('comment-edit', {'userComments': comment.id}) }}"><i class="fas fa-pen"></i> Edit comment</a>
                    <a href="{{ path('comment-delete', {'userComments': comment.id}) }}"><i class="fas fa-trash"></i> Delete comment</a>
                </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>

{% endblock %}
{% block javascripts %}
    <script>

        window.onscroll = function() {scrollFunction()};

        function scrollFunction() {
            if (document.body.scrollTop > 80 || document.documentElement.scrollTop > 80) {
                document.getElementById("navbar").style.background = "rgba(0, 0, 0, 0.1)";
                document.getElementById("navbar").style.padding = "3px";
                document.getElementById("logo").style.fontSize = "25px";
            } else {
                document.getElementById("navbar").style.background = "none";
                document.getElementById("navbar").style.padding = "10px";
                document.getElementById("logo").style.fontSize = "40px";
                document.getElementById("logo").style.transition = ".4s";
            }
        }


    </script>
{% endblock %}