{% extends "base.html.twig" %}
{% block body %}

    <style>
        .nav-image {
            background: url("{{ asset('images/navbar.jpg') }}");
            background-size: cover;
        }

    </style>

    {#    mobile nav#}
    <nav class="navbar navbar-expand-md bg-dark navbar-dark d-lg-none d-xl-none">
        <!-- Brand -->
        <a class="navbar-brand" href="{{ path('main-page') }}">Home</a>

        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navbar links -->
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a id="cv" class="nav-link js-scroll-trigger text-white" href="{{ path('resume') }}">Resume</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger text-white " href="{{ path("comments") }}">Comments</a>
                </li>
            </ul>
            <ul class="nav navbar-nav ml-auto mr-5 mt-3">
                {% if app.user %}
                    <li class="nav-item px-2">
                        <a id="logout" class="nav-link js-scroll-trigger text-white" href="{{ path('logout') }}" >Logout</a>
                    </li>
                    <li class="nav-item px-2">
                        <span class="nav-link js-scroll-trigger text-white">Logged as {{ user.usernick }}</span>
                    </li>
                {% else %}
                    <li id="login" class="nav-item px-2">
                        <span class="nav-link js-scroll-trigger text-white" id="login-span">Login</span>
                        {% if error %}
                            <div id="error-mesage" class="text-white">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}
                        <form class="login-form position-fixed display-none" action="{{ path('main-page') }}" method="POST">
                            <input id="login-usernick" type="text" name="_username" value="{{ lastUsername }}" placeholder="Usernick">
                            <input id="login-password" type="password" name="_password" placeholder="Password">
                            <button id="login-submit" type="submit">Login</button>
                        </form>
                    </li>
                    <li id="sign-up-style" class="nav-item px-2">
                        <a id="register" class="nav-link js-scroll-trigger text-white" href="{{ path('register') }}">Sign Up</a>
                    </li>

                {% endif %}

            </ul>
        </div>
    </nav>

{#    desktop nav#}

    <nav id="navbar" class="navbar fixed-top navbar-expand-sm nav-image d-none d-lg-block d-xl-block">
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <ul class="navbar-nav ml-5 mt-3">
                <li class="nav-item px-3">
                    <a id="home-page-link" class="nav-link js-scroll-trigger text-white" href="{{ path('main-page') }}">Home</a>
                </li>
                <li class="nav-item px-2">
                    <a class="nav-link js-scroll-trigger text-white" href="{{ path("resume") }}">Resume</a>
                </li>
                <li class="nav-item px-2">
                    <a class="nav-link js-scroll-trigger text-white nav-uderscore" href="{{ path("comments") }}">Comments</a>
                </li>
            </ul>
            <ul class="nav navbar-nav ml-auto mr-5 mt-3">
                {% if app.user %}
                    <li class="nav-item px-2">
                        <a class="nav-link js-scroll-trigger text-white" href="{{ path('logout') }}" id="logout">Logout</a>
                    </li>
                    <li class="nav-item px-2">
                        <span class="nav-link js-scroll-trigger text-white">Logged as {{ user.usernick }}</span>
                    </li>
                {% else %}
                    <li class="nav-item position-relative px-2">
                        <span class="nav-link js-scroll-trigger text-white" id="login">Login</span>
                        {% if error %}
                            <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}
                        <form class="login-form position-fixed display-none" action="{{ path('main-page') }}" method="POST">
                            <input id="login-usernick" type="text" name="_username" value="{{ lastUsername }}" placeholder="Email">
                            <input id="login-password" type="password" name="_password" placeholder="Password">
                            <button id="login-submit" type="submit">Login</button>
                        </form>
                    </li>
                    <li class="nav-item px-2">
                        <a class="nav-link js-scroll-trigger text-white" href="{{ path('register') }}">Sign Up</a>
                    </li>

                {% endif %}

            </ul>
        </div>
    </nav>

    <div class="container margin-top-200">
        <div class="row">
            <div class="col-sm-8">
                {% for comment in comments %}
                    <div class="media p-3 m-1">
                        <div class="media-body">
                            <h4>{{ comment.user.usernick }} <small><i>Posted on {{ comment.date|date("Y-m-d")  }}</i></small></h4>
                            <p>{{ comment.comment }}</p>
                        </div>
                        {% if is_granted('edit', comment)%}
                            <div class="display-grid">
                                <a style="color: #717477;" href="{{ path('comment-edit', {'userComments': comment.id}) }}"><i class="fas fa-pen"></i> Edit</a>
                                <a href="{{ path('comment-delete', {'userComments': comment.id}) }}" class="text-bordo" onclick="return confirm('Are you sure you want to delete this comment?');"><i class="fas fa-trash text-bordo"></i> Delete</a>
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
            <div class="col-sm-4" style="margin-top: 64px">
                {% if app.user  %}
                    {{ form_start(form) }}
                    {{ form_row(form.comment, {'attr': {'class': 'comment'}}) }}
                    {{ form_row(form.submit, {'attr': {'class': ' custom-button bordo-background text-white w-75'}}) }}
                    {{ form_end(form) }}
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}
 {% block javascripts %}
     <script src="https://code.jquery.com/jquery-3.4.1.js"></script>

     <script>

         $( "#sign-up" ).click(function() {
             if ($("#register-popup").hasClass("display-none")){
                 $(".login-form").fadeOut("slow").addClass("display-none");
                 $("#register-popup").slideDown("slow").removeClass("display-none").css("display", "block");
             } else {
                 $("#register-popup").slideUp("slow").addClass("display-none");
             }
         });

         $( "#login" ).click(function() {
             if ($(".login-form").hasClass("display-none")){
                 $("#register-popup").fadeOut("slow").addClass("display-none");
                 $(".login-form").slideDown("slow").removeClass("display-none").css("display", "grid");
             } else {
                 $(".login-form").slideUp("slow").addClass("display-none");
             }
         });

     </script>
 {% endblock %}